/* HomePage */
.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.button {
  border-radius: 6px;
  padding: 10px;
  border-color: #4f56ce;
  background-color: #4f56ce;
  color: #ffffff;
  font-size: 16px;
}
.button:hover {
  border-color: #6d73ff;
  background-color: #6d73ff;
}
.button__disabled {
  border-radius: 6px;
  padding: 10px;
  border-color: #30314e;
  background-color: #30314e;
  color: #ffffff;
  font-size: 16px;
}

/* Notes */
.notes {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.notes__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 900px;
}
.notes__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 10px;
}
.item,
.item__completed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  border-radius: 6px;
  border: 3px solid #43ca85;
  padding: 10px;
  max-width: 900px;
  word-break: break-all;
}
.item__completed {
  background-color: #43ca85;
}

.item__buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  row-gap: 10px;
}
.delete__button,
.note__button_change,
.done__button,
.done__button_false {
  border-radius: 6px;
  padding: 5px;
  border-color: #4f56ce;
  background-color: #4f56ce;
  color: #ffffff;
  font-size: 14px;
}
.delete__button:hover,
.note__button_change:hover,
.done__button_false:hover {
  border-color: #6d73ff;
  background-color: #6d73ff;
  cursor: pointer;
}
.done__button {
  border-color: #036c47;
  background-color: #036c47;
}
.done__button:hover {
  border-color: #037d52;
  background-color: #037d52;
}

.delete__button_disabled {
  border-radius: 6px;
  padding: 5px;
  border-color: #30314e;
  background-color: #30314e;
  color: #ffffff;
  font-size: 14px;
}

.item:hover {
  transform: scale(1.02);
}
.item__completed:hover {
  transform: scale(1.02);
}
.filter {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.filter__text {
  font-size: 22px;
  font-weight: 700;
}
.filter__option {
  font-size: 18px;
  font-weight: 600;
}
.filter__option:hover {
  cursor: pointer;
  text-decoration: underline;
}

.filter__option_filtered {
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
}
.filter__option_filtered {
  cursor: pointer;
}

/* NewNote */
.new,
.change {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  max-width: 900px;
}
.new__input,
.change__input {
  width: 600px;
  height: 100px;
  border-radius: 6px;
  border: 2px solid #4f56ce;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  overflow-wrap: break-word;
}
.new__input::placeholder {
  color: grey;
}

/* note */
.note {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.note__text {
  max-width: 800px;
  word-break: break-all;
  text-align: center;
}

/* post new note */
.post__form,
.change__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.loading {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.error {
  color: rgba(240, 12, 12, 0.824);
  font-style: italic;
}

/* Mobile */
@media (max-width: 700px) {
  .new__input,
  .change__input {
    width: 300px;
  }
  .title {
    text-align: center;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
